@model MonCatalogueProduit.Service.Demande
@{
    ViewData["title"] = "Saisie d'une demande";
}
<p>
    
</p>
<div class="panel panel-primary">
    <div class="panel-heading">Saisie d'une Demande</div>
    <div class="panel-body">
        <!--Creation d'un formulaire ici-->

        <form method="post" asp-action="SaveDemande">
            <div class="form-group">
                <label class="control-label">Demande: </label> <!--name doit etre pareil dans la classe, value la valeur par defaut-->
                <input type="text" name="Description" class="form-control" value="@Model.Description" />
                <!--Message d"erreur-->
                @Html.ValidationMessageFor(p => p.Description, "", new { @class = "text-danger" })
            </div>
            <div class="form-group">
                <label class="control-label">Date debut : </label> <!--name doit etre pareil dans la classe, value la valeur par defaut-->
                <input type="text" name="DateEnregistrementDemande" class="form-control" value="@Model.DateEnregistrementDemande" />
                <!--Message d"erreur-->
                @Html.ValidationMessageFor(p => p.DateEnregistrementDemande, "", new { @class = "text-danger" })
            </div>
            <div class="form-group">
                <label class="control-label">Date de fin: </label> <!--name doit etre pareil dans la classe, value la valeur par defaut-->
                <input type="text" name="DatedeRealisation" class="form-control" value="@Model.DatedeRealisation" />
                <!--Message d"erreur-->
                @Html.ValidationMessageFor(p => p.DatedeRealisation, "", new { @class = "text-danger" })
            </div>

            <!--Afficher la liste de categorie-->
            <div class="form-group">
                <label class="control-label"> Categorie: </label> 
              <select name="CategoriesID">

                  @{ 
                      foreach (var c in ViewBag.categories)
                      {
                                    <option value="@c.CategoriesID">@c.LibelleDomaine</option>
                      }
                  }

              </select>
            </div>
            <div>
                <button type="submit" class="btn btn-primary">Save</button>
            </div>
        </form>


    </div>
</div>